/*
Body text (dark gray): #707070
Input field text (light gray) #cccccc
Background: #f5f5f5
Links and buttons: #e89980
Dark blue text and background: #4f6d7a
Red buttons: #ED1111
*/
#sign-up-button {
  background-color: #f5f5f5;
  border: solid 1.5px #f5f5f5;
  border-radius: 5px;
  color: #707070;
  margin: 10px auto;
  padding: 10px 0px;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  width: 70vw;
}
#learn-more-button {
  background: transparent;
  border: solid 1.5px #f5f5f5;
  border-radius: 5px;
  color: #f5f5f5;
  margin: 10px auto;
  padding: 10px 0px;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  width: 70vw;
}
#cta-btn {
  background: white;
  border: solid 1.5px #cccccc;
  border-radius: 5px;
  color: #707070;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  width: 70vw;
  margin: 10px auto;
  padding: 10px 0px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
}
mark {
  background-color: transparent;
  color: inherit;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
* {
  box-sizing: border-box;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* Button styling */
.menu-toggle {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: inline-block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
}
.fa-bars {
  border-radius: 5px;
  padding: 10px 20px;
  background: #bdbdbd;
}
/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}
.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  min-height: 100%;
  width: 200px;
  background: #4f6d7a;
}
.main-menu a {
  display: block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #cccccc;
}
nav .menu-close {
  border: none;
}
.main-menu li:first-child a {
  border-top: 1px solid #cccccc;
}
.main-menu a:hover,
.main-menu a:focus {
  background: #81a0ae;
  text-decoration: underline;
}
.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}
/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript (optional)
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
}
.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}
.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  cursor: default;
}
@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}
/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    display: block;
  }
  .main-menu ul {
    display: flex;
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  .main-menu a {
    color: #fff;
    font-size: 1.6em;
    border: 0 !important;
    /* Remove borders from off-canvas styling */
  }
  .main-menu a:hover,
  .main-menu a:focus {
    background: none;
    /* Remove background from off-canvas styling */
    color: #000;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
header {
  padding: 20px;
  display: flex;
  min-height: 40rem;
  align-items: baseline;
}
.logo {
  margin: 0 30px 0 10px;
  font-size: 1.6em;
  color: #fff;
  margin-left: auto;
}
@media (max-width: 500px) {
  header .logo {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social-icons {
  margin: auto;
  padding: 10px;
}
small {
  color: #cccccc;
  font: 1.2em;
  text-align: center;
  padding: 5px;
}
.fa-facebook,
.fa-twitter,
.fa-instagram {
  color: #cccccc;
  padding: 10px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f5f5;
}
.mobile-header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/annie-spratt-135307-unsplash.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.main-cta {
  font-size: 3.6em;
}
.content-block-one {
  font-size: 2rem;
  text-align: center;
  color: #707070;
  border-radius: 10px;
  background: white;
  margin: 5px;
}
.content-block-one img {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: solid 2px #cccccc;
}
.content-block-two {
  background: white;
  border-radius: 10px;
  color: #707070;
  margin: 5px;
  border-bottom: solid 2px #cccccc;
}
.info-block-with-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 10px;
  color: #707070;
  margin: 5px;
  padding-bottom: 10px;
  border-bottom: solid 2px #cccccc;
}
.info-block-with-img img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
img {
  height: auto;
  width: 100%;
}
.icon {
  width: 20%;
  height: 0 auto;
  display: block;
  padding-top: 10px;
}
.bottom-CTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e89980;
  padding: 18px;
  margin-top: 30px;
  color: white;
}
.sign-up {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
input {
  background: #f0bcab;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 0.7em 2em;
  font-size: 1.6rem;
  width: 70%;
}
::placeholder {
  font-weight: 100;
  color: white;
}
.bottom-CTA button {
  color: #e89980 !important;
  font-weight: 100;
  max-width: 30%;
}
@media (max-width: 500px) {
  .hero-text {
    width: 40rem;
  }
}
@media (max-width: 500px) {
  .main-cta {
    font-size: 3.5em;
  }
}
@media (max-width: 500px) {
  img {
    display: flex;
    width: 100%;
    height: 0 auto;
    margin: auto;
  }
}
@media (max-width: 500px) {
  p {
    font-size: 2em;
    padding: 2rem;
  }
}
@media (max-width: 500px) {
  h2 {
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
}
@media (max-width: 500px) {
  p {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
  }
}
@media (max-width: 500px) {
  hr {
    margin: 15px;
    color: #707070;
  }
}
@media (max-width: 500px) {
  .icon {
    height: auto;
  }
}
@media (max-width: 500px) {
  .bg {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .info-block-with-img {
    justify-content: space-around;
  }
}
@media  all and (min-width: 501px) {
  .hero-text {
    display: flex;
    flex-flow: row wrap;
  }
}
@media  all and (min-width: 501px) {
  .hero-text > * {
    flex: 1 100%;
  }
}
@media  all and (min-width: 501px) {
  .content-block-one {
    border-radius: 10px;
    background: white;
    font-size: 2rem;
    text-align: center;
    width: 80vw;
    margin: auto;
  }
}
@media  all and (min-width: 501px) {
  .content-block-one img {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
@media  all and (min-width: 501px) {
  .content-block-two {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px 30px;
  }
}
@media  all and (min-width: 501px) {
  .info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 49%;
    height: 49%;
    margin: auto;
    padding: 20px;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f5f5;
  height: 100%;
}
header {
  margin-bottom: 2.5vw;
}
.mobile-header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/annie-spratt-135307-unsplash.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.donate-cta {
  color: #707070;
  border-radius: 10px;
  background: white;
  border-bottom: solid 2px #cccccc;
  border-top: #e6e6e6;
  font-size: 2rem;
  text-align: center;
  width: 80vw;
  margin: auto;
  padding: 2vw;
}
@media  all and (min-width: 501px) {
  .donate-cta button {
    padding: 2vw;
  }
}
@media  all and (min-width: 501px) {
  .donate-cta {
    padding: 2vw;
  }
}
@media (max-width: 500px) {
  .donate-cta button {
    margin-bottom: 3vw !important;
  }
}
h1,
p {
  line-height: 1.6em;
}
