// mobile first styles
#sign-up-button {
  background-color: @background;
  border: solid 1.5px @background;
  border-radius: 5px;
  color: @font-color;
  margin: 10px auto;
  padding: 10px 0px;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  width: 70vw;
}

#learn-more-button {
  background: transparent;
  border: solid 1.5px @background;
  border-radius: 5px;
  color: @background;
  margin: 10px auto;
  padding: 10px 0px;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  width: 70vw;
}

#cta-btn {
  background: white;
  border: solid 1.5px @light-gray;
  border-radius: 5px;
  color: @darkgray;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  width: 70vw;
  margin: 10px auto;
  padding: 10px 0px;
}
// Desktop media queries