#sign-up-button {
    background-color: @background;
    border-radius: 5px;
    color: @font-color;
    margin: 10px 0px;
    padding: 5px;
    font-size: 1.6rem;
    text-align: center;
    width: 80%;
}

#learn-more-button {
    background: transparent;
    border-radius: 5px;
    color: @background;
    margin: 10px 0px;
    padding: 5px;
    font-size: 1.6rem;
    text-align: center;
    width: 80%;
}